:not(code) {
	font-family: ui-sans-serif, system-ui, sans-serif;
}

html,
body,
p {
	margin: 0;
}

html,
body {
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
}

body {
	padding: 12px;
}

footer,
p {
	margin-top: 1rem;
}

main {
	column-gap: 20px;
	display: grid;
	grid-template-columns: 5fr 2fr;
}

h1 {
	font-size: 1.25rem;
	margin-top: 0;
}

label,
button {
	cursor: pointer;
}

input[type='text'],
input[type='number'],
span.quiet {
	display: block;
}

input[type='text'],
input[type='number'] {
	margin: .2rem 0;
}

input[type='text'] {
	width: 70%;
}

input[type='checkbox'] {
	bottom: -1px;
	margin: 0 2px 0 0;
	position: relative;
}

button {
	font-size: 1rem;
	margin: .25rem 0 1rem;
	padding: .25rem .5rem;
}

textarea + p {
	margin-top: 0;
}

code,
.quiet {
	font-size: smaller;
}

.form-group {
	margin-bottom: .75rem;
}

.quiet {
	color: #888;
}

.options {
	background: #ffe;
	padding: 10px;
}

.success,
.share {
	color: #008000;
}

.failure,
.unsafe {
	color: #f00;
}

.alt {
	margin-bottom: 1rem;
}

[x-cloak] {
	display: none !important;
}

#input,
#output {
	height: 36vh;
	margin-bottom: 5px;
	min-height: 15rem;
	resize: vertical;
	width: 100%;
}