* {
	font-family: system-ui, sans-serif;
}

html,
body {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

body {
	padding: 12px;
}

footer {
	margin-top: 1rem;
}

h1 {
	margin-top: 0;
}

label,
button {
	cursor: pointer;
}

button {
	margin: .25rem 0 1rem;
	padding: .25rem .5rem;
}

label:not(:has(input[type='checkbox'])) {
	margin-left: .25rem;
}

.header {
	font-size: 1.25rem;
}

.main {
	column-gap: 20px;
	display: grid;
	grid-template-columns: 5fr 2fr;
}

.input-content,
.output-content {
	height: 20rem;
	margin-bottom: 5px;
	resize: vertical;
	width: 100%;
}

.form-group {
	margin-bottom: .75rem;
}

.quiet {
	color: #888;
	font-size: .85rem;
}

.short {
	display: block;
	margin-left: .25rem;
}

.options {
	background: #ffe;
	padding: 10px;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.unsafe {
	color: #f33;
}

.mr-1 {
	margin-bottom: 1rem;
}

[x-cloak] {
	display: none !important;
}